<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}
  
  <style>
@font-face {
  font-family: 'Prof Layton';
  src: url('{{ "/assets/fonts/prof-layton.woff2" | relative_url }}') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* assets/css/main.css */
body {
  font-family: 'Prof Layton', monospace;  /* your default font */
  font-size: 16px;
  line-height: 1.5;
  color: #333333; /* default text color */
}

</style>


  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>

</html>
